@using System.Diagnostics;
@model CrowdfundedArtGallery.ViewModels.ArtPostViewModel

@{
    Layout = "_Layout";
}

<h2>Create Art Post</h2>

@using (Html.BeginForm("Create", "ArtPost", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="CategoryId"></label>
        @if (ViewBag.Categories != null)
        {
            <select asp-for="CategoryId" asp-items="@(ViewBag.Categories)" class="form-control">
                <!-- Options here -->
            </select>
        }
        else
        {
            <p>Error: Categories not available.</p>
        }
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Images"></label>
        <input asp-for="Images" type="file" multiple class="form-control" />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}